#Count{
    display: block;
    /* align-items: center; */
    text-align: center;
    font-size: 8em;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

#main{
    /* justify-content: center;
    align-items: center; */
    text-align: center;
}

.btn{
    padding: 10px 20px;
    font-size: 1.5em;
    color: white;
    background-color: #007BFF;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover{
    background-color: #06e14f;
}